


body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-image: url('https://png.clipart.me/previews/9e3/amp-cabinet-grill-592.gif');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header > h1 {
  font-family: 'Marck Script', cursive;
  font-weight: bold;
  font-size: 90px;
  text-shadow: 2px 2px gold;
  background-color: rgba(240, 202,132, .8);
  border-bottom: 3px solid gold;
  box-shadow: 2px 2px 2px;
}
.all-pedals {
  font-family: 'Marck Script', cursive;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 50px;
  cursor: pointer;
}


#add-new {
  /* margin-top: 20px; */
  margin-bottom: 20px;
}

#myform {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

#pedalform {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.artist-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-image: url('https://png.clipart.me/previews/9e3/amp-cabinet-grill-592.gif');
}

/* //////////////////// Artist Card //////////////////////////// */
.card {
  width: 300px;
  margin-bottom: 20px;
  box-shadow: 4px 4px 4px grey;
}
.card-img-top{
  height: 400px;
}

.pedal-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: scroll;
  background-color: inherit;
  height: 385px;


}
.pedal {
  margin-left: 5px;
  margin-right: 5px;
  min-width: 200px;
  max-height: 200px;
}
.pedal > img {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
/* /////////////////////// Pedal section /////////////////////// */
.pedal-group {
  border: 1px solid black;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 5px;
  border-radius: 10px;
  max-height: 200px;
  overflow-y: scroll;
}
.pedal-container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  /* border-top: 1px solid black; */
  border-bottom: 1px solid black;
  text-align: left;
  padding-top: 5px;
  padding-left: 5px;
}
.pedal-image {
  max-width: 100px;
  max-height: 100px;
}
.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}
.show-hide{
  cursor: pointer;

}
.checkboxlist {
  height: 100px;
  overflow-y: scroll;
  text-align: left;

}
